:root{
    --darkblue : #0e1117;
    --white : #ffffff;
    --grey : #c9d1d9;
    --darkgrey : #8b949e;
    --blue : #58a6ff;
    --lightblue : #15223a;
    --darkerblue : #21262c;
}
body{
    background-color:var(--darkblue);
}
.container{
    max-width:85%;
    margin: auto;
    color: var(--grey);
}