body {
    background-color: #000319;
    color: #D4AF37;
}
button {
    border:2px solid #3b3b3b;
    padding:10px;
    display: inline-block;
    background-color: #3b3b3b;
    color: #D4AF37;
    border-radius:16px;
    transition-duration:0.9s;
}
.A1 {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.A2{
    font-family: cursive;
}
.image{
    align-items: center;
    text-align: center;
}
.box {
    border:2px solid #3b3b3b;
    padding:10px;
    display: inline-block;
    background-color: #3b3b3b;
    border-radius:16px;
    transition-duration:0.9s;
    
}
.box:hover {
    background-color: #D4AF37;
    color: #000000;
}
.A3{ font-family: cursive;}
.navbar {
    align-items: center;
    border:1px solid #404040b5;
    backdrop-filter: blur(10px);
    padding: 5px;
    display: inline-block;
    background-color: rgba(114,114,114,.2);
    border-radius:16px;
    transition-duration:0.9s;
}
.navbar ul {
    list-style-type: none; /* Remove the bullets from the list */
    margin: 0; /* Remove the margin from the list */
    padding: 0; /* Remove the padding from the list */
  }

  .navbar li {
    float: left; /* Align the list items horizontally */
  }

  .navbar li a {
    display: block; /* Make the links fill the entire list item */
    color: white; /* Set the color of the links */
    text-align: center; /* Center the text of the links */
    padding: 5px 16px; /* Set the padding of the links */
    text-decoration: none; /* Remove the underline from the links */
  }

  .navbar li a:hover {
    background-color: #ddd; /* Change the background color of the links on hover */
    color: black; /* Change the color of the links on hover */
    border-radius:9px;
}

.navbar li a.active {
    background-color: #04aa6d23; /* Set the background color of the active link */
    color: white; /* Set the color of the active link */
    border-radius:9px;
} 
.nav{
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 15px;
    user-select: none
}